<div id="<%= dom_id tick %>">
  <p>
    <strong>Ticker:</strong>
    <%= tick.ticker_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= tick.value %>
  </p>

  <p>
    <strong>Delta day:</strong>
    <%= tick.delta_day %>
  </p>

  <p>
    <strong>Delta week:</strong>
    <%= tick.delta_week %>
  </p>

  <p>
    <strong>Delta month:</strong>
    <%= tick.delta_month %>
  </p>

</div>
