<div id="<%= dom_id ticker %>">
  <p>
    <strong>Name:</strong>
    <%= ticker.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= ticker.slug %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ticker.url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticker.description %>
  </p>

  <p>
    <strong>Units:</strong>
    <%= ticker.units %>
  </p>

</div>
